//<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="C:\\Users\\r66d\\Documents\\GitHub\\senior_project\\views\\media\\add.html" method="post"  >
        <label for="media_name">Name:</label><br>
        <input type="text" id="media_name" name="media_name" value="media_name"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>